@import "mocha.css";

* {
    font-size: 14px;
    border-radius: 5px;
}

window#waybar {
    font-family: "SauceCode Pro Nerd Font";
    background-color: @base;
    border-radius: 10px;
    color: @text;
    transition-property: background-color, background;
    transition-duration: .3s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-right {
    margin: 6px 6px 6px 0;
}

.modules-center {
    margin: 6px 0 6px 0;
}

.modules-left {
    margin: 6px 0 6px 6px;
}

button {
    border: none;
}

#workspaces {
    background-color: @surface0;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: @text;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: @green;
    color: @crust;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @surface2;
}

#workspaces button.focused:hover,
#workspaces button.active:hover {
    color: @overlay3;
}

#workspaces button.urgent {
    background-color: @red;
}

#submap {
    background-color: @text;
    color: @text;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#battery.charging,
#battery.plugged {
    background-color: @green;
    color: @text;
}

@keyframes blink {
    to {
        background-color: #282828;
        color: #ebdbb2;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: @red;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

#tray menu {
    font-family: sans-serif;
}

#submap,
#clock,
#cpu,
#memory,
#temperature,
#power-profiles-daemon,
#network,
#pulseaudio,
#idle_inhibitor,
#cava,
#scratchpad,
#window,
#battery,
#backlight,
#wireplumber,
#tray,
#mpris,
#load {
    padding: 0 10px;
    background-color: @surface0;
    color: @text;
}

#cpu,
#memory,
#network {
    padding: 0 14px 0 10px;
}

#window {
    color: @peach;
}
